.overlay {
  position: fixed;
  top: 0;
  left: 0;
  height: 100dvh;
  width: 100dvw;
  z-index: 2;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  opacity: 0;
  transition: opacity 1s ease;
}

.overlay.fade-out {
  opacity: 0;
  pointer-events: none;
}
.overlay.fade-in {
  opacity: 1;
  pointer-events: auto;
}


.hexagon-logo-wrapper {
  position: relative;
  display: inline-block;
  width: 160px;
  height: 160px;
}

.landing-logo {
  width: 120px;
  height: 120px;
  object-fit: contain;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 1;
}

.hex-border {
  position: absolute;
  top: 0;
  left: 0;
  width: 160px;
  height: 160px;
  pointer-events: none;
  z-index: 2;
}

.hex-border-shape {
  fill: none;
  stroke: #73f5ed;
  stroke-width: 4;
  stroke-dasharray: 416;
  stroke-dashoffset: 416;
  transition: stroke-dashoffset 1.2s cubic-bezier(0.77, 0, 0.175, 1);
}

.content-cnt {
  opacity: 0;
  pointer-events: none;
  transition: opacity 0.8s ease;
}
